.calendar-section {
    height: 100%;
	min-width: 375px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	color: var(--text-color-primary);
	font-family: var(--primary-font);
}

.calendar-div {
	display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.calendar-days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 5px;
	padding: 5px 5px 0 5px;
	width: 100%;
}

.calendar-day {
	width: 100%;
	padding: 2px;
	text-align: center;
	font-size: 20px;
	text-transform: capitalize;
}

.calendar-container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(6, 1fr);
	gap: 5px;
	padding: 5px;
    flex-grow: 1;
}

.calendar-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 5px;
	font-size: 12px;
    height: 100%;
    min-width: 40px;
	position: relative;
}

.calendar-dot-box {
	display: flex;
	gap: 2px;
	position: absolute;
	right: 10px;
}


.calendar-dot-box p {
	font-size: clamp(10px, 12px, 1rem);
	color: var(--primary-color);
	margin-left: 0.2rem;
}

.calendar-dot {
	display: none;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: var(--primary-color);

	align-self: center;
}

.calendar-text {
	display: flex;
	font-size: clamp(10px, 12px, 1rem);
	color: var(--primary-color);
	margin-left: 0.2rem;
}

.calendar-holiday-dot {
	display: block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #ff1e00cb;
	position: absolute;
	bottom: 8px;
	left: 8px;

	align-self: center;
}

.calendar-holiday-name {
	display: none;
	font-size: 0.8rem;
	position: absolute;
	bottom: 5px;
	color: var(--danger-color);
}

.shaded-card {
	border-color: rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.5);
	background-color: rgb(247, 247, 247);
}

.calendar-card:hover {
	background: var(--secondary-color);
}

.calendar-month-part {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	width: 100%;
}

.calendar-month-year {
	text-transform: capitalize;
    width: auto;
	min-width: 100px;
    max-width: 100%;
	text-align: center;
}

.todo-count {
	display: none;
}

.todo-count-mobile {
	display: flex;
}

@media (min-width: 767px) {
	.calendar-day {
		font-size: 20px;
	}

	.calendar-card {
		font-size: 16px;
	}

}

@media (min-width: 1200px) {
	
	.todo-count {
		display: block;
	}
	
	.todo-count-mobile {
		display: none;
	}

	.calendar-holiday-dot {
		display: none;
	}
	
	.calendar-holiday-name {
		display: flex;
	}

	.calendar-dot {
		display: flex;
	}
	
	.calendar-text {
		display: none;
	}
	.calendar-dot-box {
		top: 8px;
	}

}