* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

:root {
	--primary-color: #0066be;
	--secondary-color: #E3F2FD;
	--base-color: #F0F4F8;
	--neutral-color: #64748B;

	--primary-font: "Manrope", sans-serif;
	--text-color-primary: rgba(0, 0, 0, 0.72);
	--text-color-primary: rgba(0, 0, 0, 0.56);
	--text-color-faded: rgba(0, 0, 0, 0.5);

	--border-color-primary: rgb(0, 0, 0);
	--border-color-faded: rgba(0, 0, 0, 0.1);
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.main-wrapper {
	display: flex;
	flex: 1 1 0;
	min-height: 0;
}

.aside {
	display: flex;
	flex-direction: column;
	max-height: 100%;
}

@media(max-width: 767px) {
	.aside {
		width: 100%;
	}
}

img {
	background: none;
	border: none;
	cursor: pointer;
}

button {
	background: none;
	border: none;
}