.welcome-section {
    width: fit-content;
    padding: 5px;
    margin: 5px;
}

.welcome-info {
    display: flex;
    gap: 5px;
}

.welcome-title {
    color: var(--primary-color);
    font-weight: 600;
}

.welcome-info-text {
    color: var(--text-color-secondary);
    font-weight: 400;
}

.capitalize {
    text-transform: capitalize;
}